[project]
	description = A curated list of awesome Java frameworks, libraries and software. Inspired by awesome-python.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/huyang (huyang1532)
[access "refs/for/refs/*"]
	read = group user/huyang (huyang1532)
	push = group user/huyang (huyang1532)
	label-Code-Review = -2..+2 group user/huyang (huyang1532)
	label-Verified = -1..+1 group user/huyang (huyang1532)
	rebase = group user/huyang (huyang1532)
	removeReviewer = group user/huyang (huyang1532)
	submit = group user/huyang (huyang1532)
[access "refs/heads/*"]
	read = group user/huyang (huyang1532)
	create = group user/huyang (huyang1532)
	push = +force group user/huyang (huyang1532)
	pushMerge = group user/huyang (huyang1532)
[access "refs/tags/*"]
	push = +force group user/huyang (huyang1532)
	pushTag = group user/huyang (huyang1532)
	pushSignedTag = group user/huyang (huyang1532)
